<template>
    <div id="alertError">
        <!-- :show="showDismissibleAlert" -->
        <!-- @dismissed="showDismissibleAlert=false" -->
        <b-alert variant="danger"
            dismissible
            fade
            :show="true"
            @dismissed="onClose">
            {{ text }}
        </b-alert>

        <!-- <b-alert variant="danger"
            dismissible>
        {{ text }}
        </b-alert> -->
    </div>
</template>

<script>
    import Vue from 'vue'
    import { Alert } from 'bootstrap-vue/es/components';
    Vue.use(Alert);

    export default {
        name: 'alertError',
        data() {
            return {    
                showDismissibleAlert: true
            }
        },
        props: ['text'],
        methods: {
            onClose() {
                this.$emit('dismissed');
            }
        }
    }
</script>