<template>
    <div id="profile">
        <p>This is User page</p>
         <b-container>
            <b-row>
                <b-col md="4">
                    <b-img src="" fluid alt="User image" />
                </b-col>
                <b-col md="8">
                    <h2>{{ user.email }}</h2>
                    <p>{{ user.id }}</p>
                </b-col>
            </b-row>
         </b-container>
    </div>
</template>

<script>
    export default {
        name: 'profile',
        data() {
            return {
                user: {
                    id: '',
                    email: ''
                }
            }
        },
        created: {
            function() {
                let userData = this.$store.getters.user;
                this.user.id = userData.id;
                this.user.email = userData.email
            }
        }
    }
</script>