<template>
    <div id="signIn">
        <b-container>
            <b-row>
                <b-col>
                    <b-form @submit.prevent="onSingIn" @reset="onReset">
                        <b-form-group id="exampleInputGroup1"
                            label="Email address:"
                            label-for="exampleInput1"
                            description="We'll never share your email with anyone else.">
                            <b-form-input id="exampleInput1"
                                type="email"
                                v-model="loginForm.email"
                                required
                                placeholder="Enter email">
                            </b-form-input>
                        </b-form-group>
                        <b-form-group id="exampleInputGroup2"
                            label="Your password:"
                            label-for="exampleInput2">
                            <b-form-input id="exampleInput2"
                                type="password"
                                v-model="loginForm.pass"
                                required
                                placeholder="Enter password">
                            </b-form-input>
                        </b-form-group>
                        <b-button type="submit" variant="primary">Submit</b-button>
                        <b-button type="reset" variant="danger">Reset</b-button>
                    </b-form>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import Vue from 'vue'
import { Form, FormInput, FormGroup } from 'bootstrap-vue/es/components';

Vue.use(Form);
Vue.use(FormGroup);
Vue.use(FormInput);

export default {
    name: 'signIn',
    data() {
        return {
            loginForm: {
                email: '',
                pass: ''
            }
        }
    },
    methods: {
        onSingIn() {
            this.$store.dispatch('signUserIn', {email: this.loginForm.email, password: this.loginForm.pass});
        },
        onReset() {
            this.loginForm.email = '';
            this.loginForm.pass = '';     
        }
    },
    computed: {
        comparePassword() {

        },
        user() {
            return this.$store.getters.user
        }
    },
    watch: {
        user(value) {
            if (value !== null && value !== undefined) {
                this.$router.push('/')
            }
        },
        error(value) {
            console.log('error:', this.$store.getters.error.message);
            this.errorMessage = this.$store.getters.error;
            return this.$store.getters.error
        }
    }
}
</script>
