<template>
    <div id="signUp">
        <b-container>
            <b-row>
                <b-col>
                    <b-form @submit.prevent="onSubmit" @reset="onReset">
                        <b-form-group id="emailInputGroup"
                            label="Email address:"
                            label-for="emailInput"
                            description="We'll never share your email with anyone else.">
                            <b-form-input id="emailInput"
                                type="email"
                                v-model="form.email"
                                required
                                placeholder="Enter email">
                            </b-form-input>
                        </b-form-group>
                        <b-form-group id="passwordInputGroup"
                            label="Your password:"
                            label-for="passwordInput">
                            <b-form-input id="passwordInput"
                                type="password"
                                v-model="form.pass"
                                required
                                placeholder="Enter password">
                            </b-form-input>
                        </b-form-group>
                        <b-button type="submit" variant="primary">Sign up</b-button>
                        <b-button type="reset" variant="danger">Reset</b-button>
                    </b-form>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import Vue from 'vue'
import { Form, FormInput, FormGroup } from 'bootstrap-vue/es/components';

Vue.use(Form);
Vue.use(FormGroup);
Vue.use(FormInput);

export default {
    name: 'signUp',
    data() {
        return {
            form: {
                email: '',
                pass: ''
            }
        }
    },
    methods: {
        onSubmit() {
            this.$store.dispatch('signUserUp', {email: this.form.email, password: this.form.pass});
        },
        onReset() {
            this.form.email = '';
            this.form.pass = '';     
        }
    },
    computed: {
        comparePassword() {

        },
        user() {
            return this.$store.getters.user
        },
        error() {
            return this.$store.getters.error
        }
    },
    watch: {
        user(value) {
            if (value !== null && value !== undefined) {
                this.$router.push('/')
            }
        },
        error(value) {
            // console.log('error:', this.$store.getters.error.message);
            // this.errorMessage = this.$store.getters.error;
            return this.$store.getters.error
        }
    }
}
</script>
