<template>
    <b-container>
        <b-row>
            <b-col>
                <b-carousel id="carousel1"
                    controls
                    indicators
                    :interval="4000"
                    img-width="1024"
                    img-height="480"
                >
                    <b-carousel-slide v-for="meetup in meetups" :key="meetup.id" 
                        :img-src="meetup.imgUrl"
                        :text="meetup.title"
                    >
                    <h2 @click="onLoadMeetup(meetup.id)" style="cursor: pointer">open</h2>
                    </b-carousel-slide>
                </b-carousel>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-button to="meetups" variant="primary">Explore meetups</b-button>
            </b-col>
            <b-col>
                <b-button to="/new" variant="primary">Organize meetup</b-button>
            </b-col>
        </b-row>
    </b-container>    
</template>

<script>
import Vue from 'vue'
import { Carousel } from 'bootstrap-vue/es/components';
Vue.use(Carousel);

export default {
    computed: {
        meetups() {
            return this.$store.getters.featuredMeetups
        }
    },
    methods: {
        onLoadMeetup(id) {
            this.$router.push(`/meetups/${id}`);
        }
    }
}
</script>

<style lang="scss" scoped>
    .col {
        text-align: center;
    }
    .carousel {
        margin: 30px 0;
    }
</style>
