<template>
  <div id="app">
    <b-navbar toggleable="md" type="dark" variant="info">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand to="/">Meetup</b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item :to="item.link" v-for="item in menu" :key="item.title">{{ item.title }}</b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav v-if="userName != ''">
          <b-nav-item :to="'profile'" right>{{ userName }}</b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav v-else>
          <b-nav-item :to="item.link" v-for="item in login" :key="item.title" right>{{ item.title }}</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <main>
        <b-container>
          <b-row v-if="error">
            <b-col>
              <alert-error
                @dismissed="onDismissed"
                :text="error.message">
              </alert-error>
            </b-col>
          </b-row>
        </b-container>
        <loading v-if="load"></loading>
        <router-view></router-view>
    </main>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      userName: '',
      menu: [
        { title: 'View meetups', link: 'meetups' },
        { title: 'Organize Meetup', link: '/new' },
      ],
      login: [
        { title: 'Sign up', link: 'sign-up'},
        { title: 'Sign in', link: 'sign-in'}
      ]
    }
  },
  methods: {
    sign() {
      let user = this.$store.getters.user;
      if (user !== null && user !== undefined) {
          this.userName = user.email;
          return true
      }
      else return false
    },
    onDismissed() {
      this.$store.dispatch('clearError');
    }
  },
  computed: {
    user() {
        return this.$store.getters.user
    },
    error() {
      return this.$store.getters.error
    },
    load() {
      return this.$store.getters.loading
    }
  },
  watch: {
      user(value) {
          console.log('User on main page..');
          if (value !== null && value !== undefined) {
              this.userName = value.email;
          }
      },
      load(value) {

      }
  }
}
</script>

<style lang="scss">
  @import './scss/main';
</style>
