<template>
     <b-container>
        <b-row>
            <b-col>
                <h4>Create new Meetup</h4>  
                    <b-form @submit.prevent="onCreateMeetup" @reset="onReset">
                      <b-form-group id="titleGroup"
                            label="Title"
                            label-for="titleInput">
                            <b-form-input id="titleInput"
                                type="text"
                                v-model="newMeetup.title"
                                required
                                placeholder="Enter title meetup">
                            </b-form-input>
                        </b-form-group>    
                        <b-form-group id="locationGroup"
                            label="Location"
                            label-for="locationInput">
                            <b-form-input id="locationInput"
                                type="text"
                                v-model="newMeetup.location"
                                required
                                placeholder="Enter location meetup">
                            </b-form-input>
                        </b-form-group> 
                        <b-form-group id="dateGroup"
                            label="Date"
                            label-for="dateInput">
                            <b-form-input id="dateInput"
                                type="date"
                                v-model="newMeetup.date"
                                required>
                            </b-form-input>
                        </b-form-group> 
                        <!--<b-form-group id="imgUrlGroup"-->
                            <!--label="Image"-->
                            <!--label-for="imgUrlInput">-->
                            <!--<b-form-input id="imgUrlInput"-->
                                <!--type="text"-->
                                <!--v-model="newMeetup.imgUrl"-->
                                <!--required-->
                                <!--placeholder="Enter url image meetup">-->
                            <!--</b-form-input>-->
                        <!--</b-form-group>-->
                        <b-form-file placeholder="Choose image meetup..." @input="onFilePicked"></b-form-file>
                        <!--<img :src="newMeetup.imgUrl" alt="" style="width: 200px; height: auto;">-->
                        <b-form-group id="descriptionGroup"
                            label="Description"
                            label-for="descriptionTextarea">
                            <b-form-textarea id="descriptionTextarea"
                                    v-model="newMeetup.description"
                                    required
                                    placeholder="Enter description meetup"
                                    :rows="7"
                                    :max-rows="100">
                            </b-form-textarea>
                        </b-form-group> 
                        <b-button type="submit" variant="primary">Create meetup</b-button>
                    </b-form> 
            </b-col>
        </b-row>
     </b-container>
</template>

<script>
import Vue from 'vue'
import { Form, FormInput, FormGroup, FormTextarea, FormFile } from 'bootstrap-vue/es/components';

Vue.use(Form);

Vue.use(FormGroup);
Vue.use(FormInput);
Vue.use(FormTextarea);
Vue.use(FormFile);

export default {
    data() {
        return {
            newMeetup: {
                title: '',
                location: '',
                date: '',
                img: null,
                description: ''
            }
        }
    },
    computed: {

    },
    methods: {
        onCreateMeetup() {

            const meetupDate = {
                title: this.newMeetup.title,
                location: this.newMeetup.location,
                date: this.newMeetup.date,
                // imgUrl: this.newMeetup.imgUrl,
                img: this.newMeetup.img,
                description: this.newMeetup.description,
                date: new Date()
            }
            this.$store.dispatch('createMeetup', meetupDate)
            this.$router.push('/meetups');
        },
        onReset() {

        },
        onFilePicked(event) {
          // let fileName = files[0].name
          // const fileReader = new fileReader();
          // fileReader.addEventListener('load', () => {
          //   this.meetupDate.imgUrl = fileReader.result
          //   console.log('file result', fileReader.result)
          // })
          // fileReader.readAsDataURL(files[0])
          this.newMeetup.img = event
        }
    }
}
</script>

<style lang="scss" scoped>
    img {
        margin-bottom: 1rem;
    }
</style>
