<template>
     <b-container class="meetup">
        <b-row>
            <b-col>
                <h5 class="meetup-title">{{meetup.title}}</h5>
                <div class="meetup-media">
                    <img :src="meetup.imgUrl" alt="">
                </div>
                <span class="meetup-date">{{meetup.date}}</span>
                <div class="meetup-text">
                  <p>{{meetup.description}}</p>
                </div>

            </b-col>
        </b-row>
     </b-container>
</template>

<script>
export default {
    props: ['id'],
    computed: {
        meetup() {
            console.log(this.$store.getters.loadedMeetup(this.id));
            return this.$store.getters.loadedMeetup(this.id)
        }
    }
}
</script>

<style lang="scss" scoped>
    img {
        max-width: 100%;
    }
  .meetup-text {
    margin-top: 30px;
  }
</style>
