<template>
     <b-container>
        <b-row>
            <b-col>
                <b-card 
                    v-for="meetup in meetups" :key="meetup.id"
                    :title="meetup.name"
                    :img-src="meetup.imgUrl"
                    tag="article"
                    style="width: 100%; margin-right: 0; "
                    class="mb-2">
                        <p class="card-text">{{meetup.date}}</p>
                        <b-button :to="`meetups/${meetup.id}`" variant="primary">View meetup</b-button>
                </b-card>
            </b-col>
        </b-row>
     </b-container>
</template>

<script>
import Vue from 'vue'
import { Card } from 'bootstrap-vue/es/components';
Vue.use(Card);

export default {
    data() {
        return {

        }
    },
    computed: {
        meetups() {
            return this.$store.getters.loadedMeetups
        }
    }
}
</script>
